<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-1">
        <%= gravatar_for message.user %>
      </div>
      <div class="col-md-5">
        <p class="card-text">
          <span class="text-muted"><%= message.user.name %> 
            <% if(current_user.is_trainer) %>
            <%= "(T)" %>
            <% end %>
            at <%= message.timestamp %> says</span><br>
          <%= message.body %>
        </p>
      </div>
    </div>
  </div>
</div>